*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f4f7fc;
}

.container{
    width:90%;
    max-width:900px;
    margin:40px auto;
}

header{
    background:#2563eb;
    color:#fff;
    text-align:center;
    padding:25px;
    border-radius:10px;
    margin-bottom:25px;
}

header h1{
    font-size:30px;
    margin-bottom:8px;
}

header p{
    font-size:15px;
}

.stats{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:15px;
    margin-bottom:25px;
}

.card{
    background:#fff;
    padding:20px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.card h2{
    color:#2563eb;
    font-size:32px;
    margin-bottom:10px;
}

.completed h2{
    color:#16a34a;
}

.pending h2{
    color:#dc2626;
}

.add-task{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.add-task input{
    flex:1;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    outline:none;
    font-size:15px;
}

.add-task button{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.add-task button:hover{
    background:#1d4ed8;
}

.controls{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.controls input,
.controls select{
    flex:1;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    outline:none;
}

#taskList{
    list-style:none;
}

.task{
    background:white;
    padding:15px;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:12px;
    box-shadow:0 3px 8px rgba(0,0,0,.08);
    transition:.3s;
}

.task:hover{
    transform:translateY(-2px);
}

.task.completed span{
    text-decoration:line-through;
    color:gray;
}

.actions button{
    border:none;
    color:white;
    padding:8px 12px;
    border-radius:6px;
    cursor:pointer;
    margin-left:5px;
}

.editBtn{
    background:#f59e0b;
}

.doneBtn{
    background:#16a34a;
}

.deleteBtn{
    background:#dc2626;
}

.actions button:hover{
    opacity:.9;
}

@media(max-width:650px){

.add-task,
.controls,
.task{
    flex-direction:column;
}

.actions{
    margin-top:10px;
}

.actions button{
    width:100%;
    margin:5px 0;
}

header h1{
    font-size:24px;
}

}